.right {
    position: absolute;
    right: 0;
    width: 300px;
    padding: 10px;
}

.button {
    font-family: Iceland;
    width: 120px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    display: inline-block;
}

.button-1 {
    color: #c2c2c2;
    border: 3px solid #38383f;
    background-image: -webkit-linear-gradient(30deg, #3a3946 50%, transparent 50%);
    background-image: linear-gradient(30deg, #383942 50%, transparent 50%);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

.button-1:hover {
    background-position: 100%;
    color: #1e1e21;
}




