<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{../panel.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../feed.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../page.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../text.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../button.css}"/>
</head>
<body>
<div id="header">
    <div class="panel" style="--items: 7;">
        <a href="/">Panger77</a>
        <a href="/send/post">Post+</a>
        <a href="/">Portfolio</a>
        <a href="/">About</a>
        <a href="/">Contacts</a>
        <span class="line"></span>
        <a href="/">Sign In</a>
        <a href="/">Sign Up</a>
    </div>
</div>
<div class="container" th:each="post: ${posts}">
    <div>
        <h1 th:text="${post.title}">Title</h1>
        <p th:text="${post.date}">Date</p>
        <p th:utext="${post.content}">Content</p>
    </div>
    <a th:href="@{/removeById(id=${post.id})}">
        <button class="btn effect01">Remove</button>
    </a>
</div>
</body>
</html>
