<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panger77</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{../index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../panel.css}"/>
</head>
<body style="overflow-x: hidden;">
    <div class="wrapper">
        <!--Панель навигации-->
        <div class="panel">
            <div class="menu">
                <a class="glitch" href="/">Panger77</a>
                <a class="post" href="/post">Post+</a>
                <a class="portfolio" href="/">Portfolio</a>
                <a class="about" href="/about">About</a>
                <a class="contact" href="/">Contact</a>
                <div class="auth">
                    <div class="aut">
                        <a class="login" href="/">Sign In</a>
                        <a class="register" href="/l">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>

        <!--Main контент-->
        <div class="maincontent">
            <div class="pos">
                <div class="card">
                    <img class="card-img" src="https://cdn.discordapp.com/attachments/973720614013657118/985540596145987684/unknown.jpeg" alt=""> 
                    <div class="data2">
                        <div class="data">
                            <a class="time">Time post:15.06.2022</a>
                        </div>
                    </div>
                    <div class="textdiv2">
                        <div class="textdiv">
                            <a class="gol">Hentai</a>
                            <a class="text">gfjgfjhjfg fhhgfghj ghjhgjgh ghjghj ghgh jhgj ghgh hg </a>
                        </div>  
                    </div>
                    <div class="butt">
                        <div class="btn">
                            <button class="btcard btncard1" type="submit">Remove</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img " src="https://cdn.discordapp.com/attachments/973720614013657118/985540596145987684/unknown.jpeg" alt="">
                    <div class="data2">
                        <div class="data">
                            <a class="time">Time post:15.06.2022</a>
                        </div>
                    </div>
                    <div class="textdiv2">
                        <div class="textdiv">
                            <a class="gol">Hentai</a>
                            <a class="text">gfjgfjhjfg fhhgfghj ghjhgjgh ghjghj ghgh jhgj ghgh hg </a>
                        </div>  
                    </div>                
                    <div class="butt">
                        <div class="btn">
                            <button class="btcard btncard1" type="submit">Remove</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script>
            $(document).ready(function() {
        $('.search-btn').click(function(e) {
            let btn = $(this);
            let word = jQuery("#search").val();
            if (word.length > 2){

                $.ajax({
                type: "post",
                url: "",// 
                dataType: "json",
                data: { search: word },
                function (data) {
                    if(data="no"){
                        console.log(jQuery("#ressear").html(data));
                        alert("Ваш запрос не найден");
                    } else {
                        alert("")
                    }
                }
            });
        };
    });
});


    </script>
</body>
</html>
