<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{../post.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../panel.css}"/>
    <title>Post</title>
</head>
<body>
    <div class="wrapper">
        <div class="panel">
            <div class="menu">
                <a class="glitch" href="/">Panger77</a>
                <a class="post">Post+</a>
                <a class="portfolio" href="/">Portfolio</a>
                <a class="about" href="/about">About</a>
                <a class="contact" href="/">Contact</a>
                <a class="login" href="/">Sign In</a>
                <a class="register" href="/">Sign Up</a>
            </div>
        </div>
    </div>
</body>
</html>